.sliderLayoutContainer--test-slider {
    max-width: 860px;
    margin: 30px auto;
}

.imageElement--test-slider {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slideChildrenContainer--test-slider {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}

.sliderTrackContainer--test-slider {
    margin: 0 25px;
}

.sliderArrows--test-slider {
    transition: all 0.5s;
    background: white !important;
    padding: 10px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
}

.caretIcon--test-slider {
    width: 15px;
    height: 15px;
    transition: all 0.5s;
}

.sliderArrows--test-slider:hover .caretIcon {
    transform: scale(1.1);
}

.paginationDot--test-slider--isActive {
    background: #0F3E99;
}
